
h3 {
  font-family: "Poly", serif;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}
#container1 {
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  background: rgb(208, 208, 208);
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  margin-bottom: 50px;
}
#box {
  width: 700px;
  height: 500px;
}
#div_to_brands {
  height: 100%;
}
#img_to_brands {
  height: 100%;
  cursor: pointer;
}

.innerBox {
  width: 250px;
  height: 450px;
  box-sizing: border-box;
  margin: 5px;
}
.image img {
  width: 280px;
  height: 230px;
  margin: auto;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info img {
  height: 30px;
  width: 200px;
  margin: 0px;
}
.info span {
  text-decoration: line-through;
}
.info h3 {
    margin: -30px 0px 10px 0px;
    font-size: 25px;
  }
.info p {
  font-size: 20px;
  margin-bottom: 30px;
}
.info h4 {
    height: 50px;
    width: 80%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.info button {
  width: 98%;
  height: 45px;
  background-color: black;
  color: white;
  padding: 10px;
}
h2 {
  font-family: "Poly", serif;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
#categories_container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.category {
  padding: 10px;
  border: 3px solid black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
#box2 {
  width: 95%;
  height: 500px;
  margin: auto;
  border-left: 30px solid rgb(209, 206, 206);
  border-right: 30px solid rgb(209, 206, 206);
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.innerBox2 {
  width: 300px;
  height: 400px;
  margin: 5px;
  box-sizing: border-box;
  margin-top: -20px;
}
.innerBox2 img {
  width: 320px;
  height: 280px;
}
.info img {
  height: 40px;
  width: 200px;
}
.innerBox2 h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 10px 10px 10px;
}

#container3 {
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#box3 {
  width: 600px;
  height: 450px;
  border-left: 30px solid rgb(209, 206, 206);
  border-right: 30px solid rgb(209, 206, 206);
}
#div_to_meet {
  height: 100%;
}
#img_to_meet {
  height: 100%;
  cursor: pointer;
}
.innerBox3 {
  width: 350px;
  height: 450px;
  box-sizing: border-box;
  margin: 5px;
  margin-top: -30px;
}
.image3 img {
  width: 320px;
  height: 270px;
  margin: auto;
}
.info3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info3 img {
  height: 40px;
  width: 200px;
}
.info3 span {
  text-decoration: line-through;
}
.info3 h4 {
    height: 40px;
    text-align: center;
  }
.info3 h3 {
  margin: -30px 0px 10px 0px;
  font-size: 20px;
}
.info3 button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  padding: 10px;
}

#container4 {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
#container4 div {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container4 div h2 {
  text-align: center;
  width: 100%;
  margin: 20px;
  margin-bottom: 10px;
}
#container4 div img {
  width: 100%;
}
#container4 div p {
  text-align: center;
  width: 100%;
  margin: 20px;
  margin-top: 0px;
}

#box5 {
  width: 95%;
  height: 400px;
  margin: auto;
  border-left: 30px solid rgb(209, 206, 206);
  border-right: 30px solid rgb(209, 206, 206);
  /* padding: 30px; */
  box-sizing: border-box;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}
.innerBox5 {
  width: 300px;
  height: 400px;
  margin: 20px;
  box-sizing: border-box;
  margin-top: -30px;
}
.innerBox5 img {
  width: 300px;
  height: 400px;
}

.innerBox5 h4 a {
  font-size: 18px;
  margin: 10px 10px 10px 10px;
  color: black;
}
#box6 {
  width: 95%;
  height: 600px;
  margin: auto;
  border-left: 30px solid rgb(209, 206, 206);
  border-right: 30px solid rgb(209, 206, 206);
  /* padding: 30px; */
  box-sizing: border-box;
  margin-bottom: 0px;
  text-align: center;
}
.innerBox6 {
  width: 300px;
  height: 450px;
  margin: 5px;
  box-sizing: border-box;
}
.innerBox6 img {
  width: 300px;
  height: 300px;
}
.innerBox6 h3{
    font-size: 24px;
    margin: 10px 0px 0px 0px;
}
.innerBox6 h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 10px 10px 10px;
  height: 60px;
}
.innerBox6 h5 {
  font-size: 18px;
  font-weight: 200;
  border: 2px solid black;
  padding: 10px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.info6 button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 50px;
  font-size: 17px;
}
#newArrival {
  margin: auto;
  margin-bottom: 50px;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newArrival div p {
  margin: 0px 0px 0px -10px;
  width: 190px;
}
#poster {
  width: 95%;
  margin: auto 2%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#featuredBrands {
  width: 90%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#featuredBrands div img {
  width: 200px;
  height: auto;
}
#video{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}
#video img{
    width: 100%;
    margin: auto;
}
#sezzle {
  width: 90%;
  margin: auto;
  text-align: center;
}
#sezzle img {
  width: 100%;
}
#box7 {
  width: 90%;
  height: 250px;
  margin: auto;
  border-left: 30px solid rgb(209, 206, 206);
  border-right: 30px solid rgb(209, 206, 206);
  /* padding: 30px; */
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 200px;
  text-align: center;
}
.innerBox7 {
  width: 300px;
  height: 450px;
  margin: 5px;
  box-sizing: border-box;
}
.innerBox7 img {
  width: 300px;
  height: 200px;
}
.innerBox7 h4 a {
  color: black;
}
.innerBox7 h4 {
  font-size: 15px;
  font-weight: 300;
  margin: 10px 10px 10px 10px;
  height: 100px;
  width: 300px;
}
